*{
    margin: 0px;
    padding: 0px;
}
header .navbar .container-fluid .center-content ul.navbar-nav li a:hover{
    color: #fff;
    transition: all 1s;
}
header .end-content button{
    display: none;
}
header .end-content{
    display: flex;
}
main{
    background: #2d3436;;
}
main .container .self-summary .row .col-lg-7 h1{
    font-size: 55px;    
}
.exp .row .col-lg-6 .card .card-body .d-flex .lightclr{
    color: #7f8c8d;
}
.wrk .row .col-lg-3 .card .card-body .undr .back-cir a i{
    background: #2d3436;
    padding: 20px;
    border-radius: 50%;
}
.wrk .row .col-lg-3 .card .card-body .undr .back-cir a i:hover{
    background: #fff;
    color: #000;
    transition: all 1s;
}
.offcanvas .offcanvas-body ul.navbar-nav li a{
    color: #fff;
    cursor: pointer;
}
.offcanvas .offcanvas-body .content ul.navbar-nav li a:hover{
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}
.offcanvas .offcanvas-body ul.navbar-nav li{
    border-bottom: 1px solid #7f8c8d;
}
footer .container .footer-content .navbar-nav li a{
    color: #bdc3c7;
    font-family: monospace;
}
footer .container .footer-content ul li a:hover{
    color: #fff;
    transition: all 0.7s;
}
footer .container .footer-content ul li a:active{
    color: #fff;
}
footer .container .footer-content ul{
    margin: auto;
    color: #bdc3c7;
    list-style-type: none;
    width: 300px;
}
@media screen and (max-width:768px) {
header .end-content button{
    display: block;
}
.navbar .container-fluid .end-content a{
    display: none;
}
}